 <!DOCTYPE html>
<html>
	<head></head>
	<body>
	
		<!-- INTERNAL ELEMENTS ... -->
	
		<div class="pull-right" th:fragment="primary-panel-header-property-selection">
			<div class="dropdown pull-right">
				<button id="dropdownProperties" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span th:if="${(null != showSelectAll or true == showSelectAll) and (null == property or null == property.id or null == property.address)}" th:text="#{gui.button.all}">SHOW ALL PROPERTY</span>  
					<span th:if="${(null == showSelectAll or false == showSelectAll) and (null == property or null == property.id or null == property.address)}" th:text="#{gui.button.select}">SELECT PROPERTY</span>  
					<span th:if="${null != property and null != property.id and null != property.address}" th:text="#{property} + ': ' + ${property.address}">SELECTED PROPERTY</span>  
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li th:if="${null != showSelectAll or true == showSelectAll}">
						<a href="javascript:void(0)" onclick="javascript:directToListUrl();">
							<span th:text="#{gui.button.all}">SHOW ALL PROPERTY</span>
						</a>
					</li>
					<li th:each="property : ${properties}">
						<a href="javascript:void(0)" th:onclick="'javascript:directToEditUrl(\'' + ${property.id} + '\');'">
							<span th:text="${property.address.street}">ADRESSE</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="pull-right" th:fragment="primary-panel-header-button-new">
			<div class="pull-right">
				<button id="buttonNew" type="button" class="btn btn-primary pull-right" th:text="#{gui.button.new}">NEW</button>
			</div>
		</div>
				
		<div class="pull-right" th:fragment="primary-panel-header-button-save">
			<div class="pull-right">
				<button id="buttonSubmit" type="submit" class="btn btn-primary pull-right" name="save" th:text="#{gui.button.save}"  th:disabled="${null == property}" >SAVE</button>
			</div>
		</div>
		
		<!-- API ... -->
		
		<!-- PANEL HEADERS ... -->
		
		<div th:fragment="primary-panel-header-new" class="btn-group pull-right">
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-button-new"></th:block> /*/-->
		</div>
	
		<div th:fragment="primary-panel-header-view" class="btn-group pull-right">
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-property-selection"></th:block> /*/-->
		</div>
	
		<div th:fragment="primary-panel-header-edit" class="btn-group pull-right">
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-button-save"></th:block> /*/-->
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-property-selection"></th:block> /*/-->
		</div>
	
		<div th:fragment="primary-panel-header-new-and-edit" class="btn-group pull-right">
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-button-save"></th:block> /*/-->
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-property-selection"></th:block> /*/-->
			<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-button-new"></th:block> /*/-->
		</div>
			
	</body>
</html>