<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div id="header" th:fragment="banner">
			<div id="topbar" class="page-header row">
	        	<div id="header-title" class="col-md-6 col-md-offset-4">
		        	<h1>Spring Software Development<br /><small>for a high quality and flexible software</small></h1>
	 			</div>
	        	<div id="header-logo" class="col-md-2 col-md-offset-0">
				    <a href="#" class="thumbnail">
					    <img src="#" th:src="@{/images/Logo.png}" alt="hemisoft - for a high quality software" />
				    </a>
				</div>
	        </div>
        </div>
	</body>
</html>