<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>HEMISOFT - Immobilienmanagement - Registration</title>
        
        <!--/*/ <th:block th:include="fragments/header :: common-header"></th:block> /*/-->
        
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/captcha.css" th:href="@{/css/captcha.css}" />
		<script src='https://www.google.com/recaptcha/api.js' async="true" defer="defer"></script>
		
    </head>
	<body>
		<div class="container">
		
    		<!--/*/ <th:block th:replace="security/header :: banner"></th:block> /*/-->

			<main id="mainPage">
			
				<p th:if="${#httpServletRequest.parameterMap.containsKey('recaptchaError')}" style="color: red">Invalid captcha response</p>
				<p th:if="${#httpServletRequest.parameterMap.containsKey('recaptchaSuccess')}">Correct captcha response</p>
			
			
			    <div class="well col-md-4 col-md-offset-4">
					<legend>Bitte registrieren Sie sich.</legend>
					<form action="#" th:action="@{/registration}" th:object="${user}" method="post" enctype="uft8">
						
						<div th:if="${#fields.hasErrors('*')}" class="col-md-12 alert alert-warning alert-dismissable">
					    	<span th:each="err : ${#fields.errors('*')}" th:text="${err}">Registration alert.<br /></span>
						</div>
					
					    <div class="row filterRow">
					        <div class="col-md-4">
					        	<label th:text="#{user.userName}">username</label>
					        </div>
					        <div class="col-md-6 col-md-offset-2">
						        <input th:field="*{userName}" 
						        	required="required" 
						        	class="form-control" 
						        />
							</div>
					    </div>
					    <div class="row filterRow">
					        <div class="col-md-4">
						        <label th:text="#{user.email}">email</label>
							</div>
					        <div class="col-md-6 col-md-offset-2">
						        <input type="email" 
						        	th:field="*{email}" 
						        	required="required" 
						        	class="form-control" 
						        />
					    	</div>
					    </div>
					    <div class="row filterRow">
					        <div class="col-md-4">
						        <label th:text="#{user.password}">password</label>
					        </div>
					        <div class="col-md-6 col-md-offset-2">
						        <input type="password" 
						        	th:field="*{password}" 
						        	required="required" 
						        	class="form-control" 
						        />
					    	</div>
					    </div>
					    <div class="row filterRow">
					    	<div class="col-md-4">
						        <label th:text="#{user.matchingPassword}">confirm</label>
							</div>
					        <div class="col-md-6 col-md-offset-2">
						        <input type="password" 
						        	th:field="*{matchingPassword}" 
						        	required="required" 
						        	class="form-control" 
						        />
						    </div>
					    </div>

						<div class="row filterRow">
							<div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.websiteKey}"></div>
						</div>
						
						<div class="row filterRow">
							<button type="submit" th:text="#{gui.button.register}" class="btn btn-info btn-block">register</button>
						</div>
					</form>
					
					<a th:href="@{/login}" th:text="#{gui.button.login}">login</a>
					
				</div>
			</main>

		    <!--/*/ <th:block th:include="fragments/footer :: common-footer"></th:block> /*/-->

		</div>
	</body>
</html>