<!DOCTYPE html>
<html>
	<head>
		<title th:text="#{gui.title.hemisoft} + ' - ' + #{gui.title.property.management} + ' - ' + #{gui.tilte.property.data.input}">HEMISOFT - IMMOBILIENMANAGEMENT - DATENERFASSUNG</title>
		<!--/*/ <th:block th:include="fragments/header :: common-header"></th:block> /*/-->
		
		<script type="text/javascript" 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7-1/js/collapse.js" 
			th:src="@{/webjars/bootstrap/3.3.7-1/js/collapse.js}"></script>
	    	
	    <script type="text/javascript" 
	    	src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js" 
	    	th:src="@{/webjars/jquery-validation/1.16.0/jquery.validate.min.js}"></script>
	    	
		<script type="text/javascript" 
			src="./js/jquery.form.min.js" 
			th:src="@{/js/jquery.form.min.js}"></script>
			
	    <script type="text/javascript" 
	    	src="https://raw.githubusercontent.com/jquery-validation/jquery-validation/master/src/localization/messages_de.js" 
	    	th:src="@{/js/messages_de.js}"></script>
	    	
	    <script type="text/javascript">
		    
		    $(function() {
		        $('.equal-height-panels .panel').matchHeight();
		    });
	    
	    </script>
	    	
	</head>

	<body>
		<div class="container">
			<!--/*/ <th:block th:replace="fragments/navbar :: common-navbar"></th:block> /*/-->
		
			<main id="mainPage">
			
				<form id="propertyDataEditForm" name="propertyDataEditForm" th:action="@{/property/save}" th:object="${property}" method="post" novalidate="novalidate">
					<div th:with="baseUrl=('/property/edit')" class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title pull-left" th:text="#{gui.title.property.management} + ' - ' + #{gui.tilte.property.data.input}">IMMOBILIEN MANGEMENT - DATENERFASSUNG</h1>
							<!--/*/ <th:block th:replace="fragments/edit/property-selector :: primary-panel-header-edit"></th:block> /*/-->
							<button id="buttonNewProperty" type="button" class="btn btn-primary pull-right" th:text="#{gui.button.property.new}">ADD NEW PROPERTY</button>
	        				<div class="clearfix"></div>
						</div>
						<div class="panel-body">
						
							<div th:if="${#fields.hasErrors('*')}" class="col-md-12">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h1 class="panel-title pull-left" th:text="${gui.data.missing}">DATEN NICHT VOLLSTÄNDIG</h1>
										<div class="clearfix"></div>
									</div>
									<div class="panel-body">
										<ul>
										 	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="row equal-height-panels">
							
								<!-- BASIC DATA -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h1 class="panel-title pull-left" th:text="#{gui.property.panel.basic.data}">STAMMDATEN</h1>
											<div class="clearfix"></div>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
												<div class="row filterRow ">
													<div class="col-md-4">
														<label for="inputBasicId" th:text="#{property.id }">ID</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicId" name="inputBasicId" 
															th:field="*{id}"
															min="0" max="1000000" 
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="selectBasicImmobilienTyp" th:text="#{property.propertyType}">IMMOBILIENTYP</label >
													</div>
													<div class="col-md-6 col-md-offset-2">
														<select id="selectBasicImmobilienTyp" 
															th:field="*{type}"
															class="form-control"
														>
															<option th:each="type : ${T(ch.hemisoft.immo.domain.PropertyType).values()}"
														          th:value="${{type}}" 
														          th:text="#{property.propertyType. + ${type.name()}}"
														    />
														</select>
													</div>
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicPurchasePrice" th:text="#{property.purchasePrice}">KAUFPREIS</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicPurchasePrice" name="inputBasicPurchasePrice" 
															th:field="*{purchasePrice}"
															min="1" max="10000000" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicNoApartments" th:text="#{property.noApartments}">ANZAHL WOHNUNGEN</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicNoApartments" name="inputBasicNoApartments" 
															th:field="*{noApartments}"
															min="1" max="100" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicNoParking" th:text="#{property.noParking}">ANZAHL PKW STELLPLÄTZE</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicNoParking" name="inputBasicNoParking" 
															th:field="*{noParking}"
															min="0" max="100" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicLivingSpaceInQm" th:text="#{property.livingSpaceInQm}">WOHNFLÄCHE IN M²</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicLivingSpaceInQm" name="inputBasicLivingSpaceInQm" 
															th:field="*{livingSpaceInQm}"
															min="0" max="10000" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicLandAreaInQm" th:text="#{property.landAreaInQm}">GRUNDSTÜCKSFLÄCHE IN M²</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicLandAreaInQm" name="inputBasicLandAreaInQm" 
															th:field="*{landAreaInQm}"
															min="0" max="10000" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicYearOfConstruction" th:text="#{property.yearOfConstruction}">BAUJAHR</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputBasicYearOfConstruction" name="inputBasicYearOfConstruction" 
															th:field="*{yearOfConstruction}"
															min="1800" max="2100" 
															required="required"
															class="form-control" 
													/>
													</div>
												</div>
												<div class="row filterRow">				
													<div class="col-md-4">
														<label for="inputBasicAdressStreet" th:text="#{property.address.street}">STRASSE</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="text" id="inputBasicAdressStreet" name="inputBasicAdressStreet" 
															th:field="*{address.street}"
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">				
													<div class="col-md-4">
														<label for="inputBasicAdressStreetNumber" th:text="#{property.address.streetNumber}">HAUSNUMMER</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="text" id="inputBasicAdressStreetNumber" name="inputBasicAdressStreetNumber" 
															th:field="*{address.streetNumber}"
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicZip" th:text="#{property.address.zip}">POSTLEITZAHL</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="text" id="inputBasicZip" name="inputBasicZip" 
															th:field="*{address.zip}"
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputBasicCity" th:text="#{property.address.city}">ORT</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="text" id="inputBasicCity" name="inputBasicCity" 
															th:field="*{address.city}"
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label id="inputBasicPurchaseDate" th:text="#{property.purchaseDate}">ERWERBSDATUM</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="date" id="inputBasicPurchaseDate" name="inputBasicPurchaseDate" 
															th:field="*{purchaseDate}"
															required="required"
															class="form-control" 
														/>
													</div>
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="selectBasicImmobilienStatus" th:text="#{property.propertyType}">IMMOBILIEN_STATUS</label >
													</div>
													<div class="col-md-6 col-md-offset-2">
														<select id="selectBasicImmobilienStatus" 
															th:field="*{status}"
															class="form-control"
														>
															<option th:each="status : ${T(ch.hemisoft.immo.domain.PropertyStatus).values()}"
														          th:value="${{status}}" 
														          th:text="#{property.propertyStatus. + ${status.name()}}"
														    />
														</select>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
								<!-- PURCHASE COSTS -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title" th:text="#{gui.property.panel.cost.purchase}">Einmalige Kosten</h4>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
												
												<!-- KAUFPREIS ... -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostPurchasePrice" th:text="#{property.purchasePrice}">KAUFPREIS</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostPurchasePrice" name="inputPurchaseCostPurchasePrice" 
															th:field="*{purchasePrice}"
															readonly="readonly"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												
												<!-- KAUFNEBENKOSTEN ... -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostLandAcquisition" th:text="#{property.cost.purchase.landAcquisition}">GRUNDERWERBSSTEUER</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostLandAcquisition" name="inputPurchaseCostLandAcquisition" 
															th:field="*{purchaseCost.landAcquisition}"
															min="0" max="1000000" 
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostNotary" th:text="#{property.cost.purchase.notary}">NOTAR</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostNotary" name="inputPurchaseCostNotary" 
															th:field="*{purchaseCost.notary}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostAgency" th:text="#{property.cost.purchase.agency }">MAKLERPROVISION</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostAgency" name="inputPurchaseCostAgency" 
															th:field="*{purchaseCost.agency}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostCourt" th:text="#{property.cost.purchase.court}">Bezirksgericht</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostCourt" name="inputPurchaseCostCourt" 
															th:field="*{purchaseCost.court}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseCostValuation" th:text="#{property.cost.purchase.valuation}">WERTGUTACHTEN</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseCostValuation" name="inputPurchaseCostValuation" 
															th:field="*{purchaseCost.valuation}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												
												<!-- HERRICHTUGNSKOSTEN ... -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputCompletionCostRenovation" th:text="#{property.cost.completion.renovation}">RENOVIERUNG</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputCompletionCostRenovation" name="inputCompletionCostRenovation" 
															th:field="*{completionCost.renovation}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
													/>
													</div>
												</div>
												<div class="row filterRow">				
													<div class="col-md-4">
														<label for="inputCompletionCostReconstruction" th:text="#{property.cost.completion.reconstruction}">UMBAU</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputCompletionCostReconstruction" name="inputCompletionCostReconstruction" 
															th:field="*{completionCost.renovation}"
															min="0" max="1000000" step="0.01"
															required="required"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												
												<!-- TOTAL COSTS ... -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputTotalAttendantCost" th:text="#{property.cost.total.attendant}">SUMME NEBENKOSTEN</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputTotalAttendantCost" name="inputTotalAttendantCost" 
															th:field="*{totalAttendantCost}"
															readonly="readonly"
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputTotalCost" th:text="#{property.cost.total}">SUMME NEBENKOSTEN + KAUFPREIS</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputTotalCost" name="inputTotalCost" 
															th:field="*{totalPurchaseCost}"
															readonly="readonly"
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
												
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
								<!-- RUNNING COSTS -->
								<div class="col-md-4">
									<div class="panel panel-default"> 
										<div class="panel-heading">
											<h4 class="panel-title" th:text="#{property.cost.running}">BEWIRTSCHAFTUNGSKOSTEN</h4>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
												
												<!-- VERWALTUNGSKOSTEN ... -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRunningCostAdministrationEachApartment" th:text="#{property.cost.running.administrationEachApartment}">VERWALTUNGSKOSTEN PRO WOHNUNG P.A.</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRunningCostAdministrationEachApartment" name="inputRunningCostAdministrationEachApartment" 
															th:field="*{runningCost.administrationEachApartment}"
															min="0" max="1000000" step="0.01"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRunningCostAdministrationTotal" th:text="#{property.cost.running.administrationEachApartment.total}">GESAMTVERWALTUNGSKOSTEN P.A.</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRunningCostAdministrationTotal" name="inputRunningCostAdministrationTotal" 
															th:field="*{totalAdministrationCost}"
															min="0" max="1000000" step="0.01"
															readonly="readonly"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												
												<!-- MAINTENANCE COSTS P.A. -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRunningCostMaintenanceEachQm" th:text="#{property.cost.running.maintenanceEachQm}">INSTANDHALTUNGSKOSTEN PRO M² P.A.</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRunningCostMaintenanceEachQm" name="inputRunningCostMaintenanceEachQm" 
															th:field="*{runningCost.maintenanceEachQm}"
															min="0" max="1000000" step="0.01"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRunningCostMaintenanceTotal" th:text="#{property.cost.running.maintenanceEachQm.total}">GESAMTKOSTEN INSTANDHALTUNG PRO M² P.A.</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRunningCostMaintenanceTotal" name="inputRunningCostMaintenanceTotal" 
															th:field="*{totalMaintenanceCost}"
															min="0" max="1000000" step="0.01"
															readonly="readonly"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												
												<!-- MANAGEMENT COSTS TOTAL P.A. -->
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRunningCostManagement" th:text="#{property.cost.running.management}">BEWIRTSCHAFTUNGSKOSTEN P.A. INSGESAMT</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRunningCostManagement" name="inputRunningCostManagement" 
															th:field="*{totalManagementCost}"
															min="0" max="1000000" step="0.01"
															readonly="readonly"
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
												
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
							</div> <!-- END PANEL GROUP -->	
							
							<div class="clearfix"></div>
							
							<div class="panel-group row equal-height-panels">	
							
								<!-- INCOME -->	
								<div class="col-md-4">
									<div class="panel panel-default"> <!-- PANEL -->
										<div class="panel-heading">
											<h4 class="panel-title" th:text="#{gui.title.property.income}">MIETEINNAHMEN</h4>
										</div>
										<div class="panel-body">
										
											<div class="container-fluid">
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputIncomeNet" th:text="#{property.incomeNet}">NETTOMIETEINNAHMEN P.A.</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputIncomeNet" name="inputIncomeNet" 
															th:field="*{rentalNet}"
															min="0" max="1000000" step="0.01"
															class="form-control text-right" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputIncomeNetAfterManagementCost" th:text="#{property.incomeNet.afterManagementCost}">MIETEINNAHMEN NACH ABZUG BEWIRTSCHAFTSKOSTEN P.A.</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputIncomeNetAfterManagementCost" name="inputIncomeNetAfterManagementCost" 
															th:field="*{rentalNetAfterManagementCost}"
															readonly="readonly"
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
											</div>
											
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
								<!-- PURCHASE_FACTOR AND RENTAL ... -->
								<div class="col-md-4">
									<div class="panel panel-default"> <!-- PANEL -->
										<div class="panel-heading">
											<h4 class="panel-title" th:text="#{gui.title.purchase.factor.and.rental}">EINKAUFSFAKTOR UND RENDITE</h4>
										</div>
										<div class="panel-body">
										
											<div class="container-fluid">
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputPurchaseFactor" th:text="#{property.purchase.factor}">EINKAUFSFAKTOR</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchaseFactor" name="inputPurchaseFactor" 
															th:field="*{purchaseFactor}"
															readonly="readonly" 
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputFirstRental" th:text="#{property.rental.first}">ANFANGSRENDITE P.A.</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputFirstRental" name="inputFirstRental" 
															th:field="*{firstRental}"
															readonly="readonly"
															class="form-control text-right summarizeInput" 
														/>
													</div>				
												</div>
											</div>
											
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
								<input type="hidden" id="inputNetAssets" name="inputNetAssets" th:field="*{netAssets}" />
								
							</div> <!-- END PANEL GROUP -->
						</div>			
					</div>
				</form>
			</main>
		</div>
	
	</body>
</html>