<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>HEMISOFT - Object Management</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    
	    <link rel="stylesheet" type="text/css" media="screen, projection" 
	        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7-1/css/bootstrap.min.css" 
	        th:href="@{../webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
			          
<!-- 	    <link rel="stylesheet" type="text/css" media="screen, projection"  -->
<!-- 	        href="#"  -->
<!-- 	    	th:href="@{../webjars/jquery-ui/1.12.1/jquery-ui.min.css}" /> -->
		
<!-- 		<script type="text/javascript"  -->
<!-- 			src="http://code.jquery.com/jquery-3.1.1-1.min.js"  -->
<!-- 			th:src="@{../webjars/jquery/3.1.1-1/jquery.min.js}"></script> -->
			
		<link rel="stylesheet" type="text/css" media="screen" 
	          href="/static/css/app.css" 
	          th:href="@{/css/app.css}" />
	    	
<!-- 	    <script type="text/javascript"  -->
<!-- 	    	src="#"  -->
<!-- 	    	th:src="@{../webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script> -->
		
	</head>

	<body>
		<h1>Immobilien Mangement</h1>
		
		<div class="container">
		
			<main>
			
				<article>
					<header>
						<h1>Objektdaten Immobilie</h1>
					</header>
					<section>
						<form action="#" th:action="@{./edit}" th:object="${property}" method="post">
							<ul th:if="${#fields.hasErrors('*')}">
							 	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
							</ul>
							<div class="container-fluid">
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="dropdownImmobilienTyp">
											<strong>Immobilientyp</strong>
										</label >
									</div>
									<div class="col-md-4 col-md-offset-1">
										<select id="selectImmoType" 
											th:field="*{type}"
											class="form-control"
										>
											<option th:each="type : ${T(ch.hemisoft.immo.domain.PropertyType).values()}"
										          th:value="${{type}}" 
										          th:text="${type.name()}"
										    />
										</select>
									</div>
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputNoApartments"><strong>Anzahl Wohnungen</strong></label >
									</div>	
									<div class="col-md-4 col-md-offset-1">	
										<input type="number" id="inputNoApartments" name="inputNoApartments" 
											th:field="*{noApartments}"
											min="1" max="30" 
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputNoParking"><strong>Anzahl PKW Stellplätze</strong></label >
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="number" id="inputNoParking" name="inputNoParking" 
											th:field="*{noParking}"
											min="0" max="5" 
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputLivingSpaceInQm"><strong>Wohnfläche in m²</strong></label >
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="number" id="inputLivingSpaceInQm" name="inputLivingSpaceInQm" 
											th:field="*{livingSpaceInQm}"
											min="0" max="1000" 
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputLandAreaInQm"><strong>Grundstücksfläche in m²</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="number" id="inputLandAreaInQm" name="inputLandAreaInQm" 
											th:field="*{landAreaInQm}"
											min="0" max="10000" 
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputYearOfConstruction"><strong>Baujahr</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="month" id="inputYearOfConstruction" name="inputYearOfConstruction" 
											th:field="*{yearOfConstruction}"
											required="required"
											class="form-control" 
									/>
									</div>
								</div>
								
								<div class="row filterRow">				
									<div class="col-md-2">
										<label for="inputAdress"><strong>Adresse</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="text" id="inputAdress" name="inputAdress" 
											th:field="*{address.street}"
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputZip"><strong>Postleitzahl</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="text" id="inputZip" name="inputZip" 
											th:field="*{address.zip}"
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label for="inputCity"><strong>Ort</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="text" id="inputCity" name="inputCity" 
											th:field="*{address.city}"
											required="required"
											class="form-control" 
										/>
									</div>				
								</div>
								
								<div class="row filterRow">
									<div class="col-md-2">
										<label id="inputPurchaseDate"><strong>Erwerbsdatum</strong></label>
									</div>
									<div class="col-md-4 col-md-offset-1">
										<input type="date" id="inputPurchaseDate" name="inputPurchaseDate" 
											th:field="*{purchaseDate}"
											required="required"
											class="form-control" 
										/>
									</div>
								</div>
								
								 <button type="submit" name="save" th:text="Speichern">SPEICHERN</button>
							</div>
						</form>			
					</section>				
				</article>
			
			</main>
		</div>
	</body>
</html>