<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>HEMISOFT - Object Management</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    
	    <link rel="stylesheet" type="text/css" media="screen, projection" 
	        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7-1/css/bootstrap.min.css" 
	        th:href="@{../webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
			          
<!-- 	    <link rel="stylesheet" type="text/css" media="screen, projection"  -->
<!-- 	        href="#"  -->
<!-- 	    	th:href="@{../webjars/jquery-ui/1.12.1/jquery-ui.min.css}" /> -->
		
<!-- 		<script type="text/javascript"  -->
<!-- 			src="http://code.jquery.com/jquery-3.1.1-1.min.js"  -->
<!-- 			th:src="@{../webjars/jquery/3.1.1-1/jquery.min.js}"></script> -->
			
		<link rel="stylesheet" type="text/css" media="screen" 
	          href="/static/css/app.css" 
	          th:href="@{/css/app.css}" />
	    	
<!-- 	    <script type="text/javascript"  -->
<!-- 	    	src="#"  -->
<!-- 	    	th:src="@{../webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script> -->
			
	</head>

	<body>
		<h1>Immobilien Mangement</h1>
		
		<div class="container">
		
			<main>
				<table class="table table-striped">
					<tr>
						<th>Immobilientyp</th>
						<th>Adresse/Ort</th>
						<th>Wohnfläche</th>
						<th>Grundstücksfläche</th>
						<th>Erwerbsdatum</th>
					</tr>
					<tr th:if="${#lists.isEmpty(properties)}">
						<td colspan="5">Keine Einträge vorhanden.</td>
					</tr>
					<tr th:each="property : ${properties}">
						<td th:text="${property.type}">PROPERTY_TYP</td>
						<td th:text="${property.address}">ADDRESS</td>
						<td th:text="${property.livingSpaceInQm}">LIVING_SPACE_IN_QM</td>
						<td th:text="${property.landAreaInQm}">LAND_AREA_IN_QM</td>
						<td th:text="${property.yearOfConstruction}">YEAR_OF_CONSTRUCTION</td>
					</tr>
				</table>
		</main>
		</div>
	</body>
</html>