<!DOCTYPE html>
<html>
	<body>
		<footer th:fragment="common-footer"> 
			<nav class="navbar navbar-default navbar-fixed-bottom">
				  <div class="container">
					    <div class="col-md-5 col-md-offset-1">
						</div>
						<div class="col-md-3 col-md-offset-2">
							<i>
								Spring Software Development<br />
								for a high quality and flexible softwares<br />
							    <small>@project.version@ powerd by Spring @spring.version@</small>
							</i>
						</div>
				  </div>
			</nav>
	    </footer>
	</body>
</html>