.container {
	width: 98%;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.row {
	position: relative;
	margin: 5px;
}

#header .thumbnail {
	border: 0 none;
    box-shadow: none;
    width: 200px;
}

#header-title {
	text-align: right;
	margin-top: 100px;
}

.panel-container {
	margin: 10px 0px;	
}	

.summarizeInput {
	font-weight: bold;
}

/* ******************
	Design Forms ...
******************** */

.form-control input, .form-control textarea {
	padding-right: 30px;
/* 	border-radius: 5px;	 */
}

input:required, textarea:required {
    background-position: 98%;
    background-image: url(../images/red_asterisk.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
}