<!DOCTYPE html>
<html>
	<head>
		<title>HEMISOFT - Immobilienmanagement - Finanzierung</title>
		<!--/*/ <th:block th:include="fragments/header :: common-header"></th:block> /*/-->
		
		<script type="text/javascript" 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7-1/js/dropdown.js" 
			th:src="@{/webjars/bootstrap/3.3.7-1/js/dropdown.js}"></script>		
		
	</head>

	<body>
		<div class="container">
			<!--/*/ <th:block th:replace="fragments/navbar :: common-navbar"></th:block> /*/-->
		
			<main id="mainPage">
			
				<form id="investmentDataEditForm" name="investmentDataEditForm" th:action="@{/investment/save}" th:object="${property}" method="post" novalidate="novalidate">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title pull-left">Immobilien Mangement - Finanzierung</h1>
							<div class="btn-group pull-right">
								<button id="buttonSubmit" type="submit" class="btn btn-primary pull-right" name="save" th:text="Speichern">SPEICHERN</button>

								<div class="dropdown pull-right">
									<button id="dropdownProperties" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span th:if="${null == property}">SELECT PROPERTY</span>  
										<span th:if="${null != property}" th:text="'Immobilie:' + ${property.address.street}">SELECTED PROPERTY</span>  
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li th:each="property : ${properties}">
											<a href="#" th:href="@{/investment/edit/} + ${property.id}" >
												<span th:text="${property.address.street}">ADRESSE</span>
											</a>
										</li>
									</ul>
								</div>
								
							</div>
	
	        				<div class="clearfix"></div>
						</div>
						<div class="panel-body">
						
							<div th:if="${#fields.hasErrors('*')}" class="col-md-12">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h1 class="panel-title pull-left">Daten nicht vollständig</h1>
										<div class="clearfix"></div>
									</div>
									<div class="panel-body">
										<ul>
										 	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
										</ul>
									</div>
								</div>
							</div>
							
							<input type="hidden" th:field="*{id}" />
							
							<div class="row equal-height-panels">
							
								<!-- FINANCING NEEDS -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h1 class="panel-title pull-left">Berechnung des Finanzierungsbedarfs</h1>
											<div class="clearfix"></div>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
												
												<div class="row filterRow ">
													<div class="col-md-4">
														<label for="inputPurchasePrice">Kaufpreis</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputPurchasePrice" name="inputPurchasePrice" 
															th:field="*{purchasePrice}"
															min="1" max="10000000" 
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputTotalAttendantCost">Einmalige Kosten beim Kauf</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputTotalAttendantCost" name="inputTotalAttendantCost" 
															th:field="*{totalAttendantCost}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputTotalCost">Gesamtsumme der Kosten</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputTotalCost" name="inputTotalCost" 
															th:field="*{totalPurchaseCost}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputNetAssets">Eigenkapital</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputNetAssets" name="inputNetAssets" 
															th:field="*{netAssets}"
															min="1" max="10000000" 
															required="required"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label id="inputFinancingNeedsTotal">Kreditbedarf</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputFinancingNeedsTotal" name="inputFinancingNeedsTotal" 
															th:field="*{financialNeedsTotal}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->
								
							</div> <!-- END PANEL GROUP -->
							
							
							<div class="row equal-height-panels">
								<!-- FINANCING NEEDS -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h1 class="panel-title pull-left">Eckdaten der Kreditfinanzierung</h1>
											<div class="clearfix"></div>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
											
												<div class="row filterRow ">
													<div class="col-md-4">
														<label for="inputInterestRateNominalInPercent">Zinssatz nominal (%)</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputInterestRateNominalInPercent" name="inputInterestRateNominalInPercent" 
															th:field="*{selectedCredit.interestRateNominalInPercent}"
															min="0" max="100"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRedemptionAtBeginInPercent">Anfängliche Tilgung (%)</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRedemptionAtBeginInPercent" name="inputRedemptionAtBeginInPercent" 
															th:field="*{selectedCredit.redemptionAtBeginInPercent}"
															min="0" max="100"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSpecialRedemptionEachYearInPercent">jährliche Sondertilgung (% vom Darlehensbetrag)</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSpecialRedemptionEachYearInPercent" name="inputSpecialRedemptionEachYearInPercent" 
															th:field="*{selectedCredit.specialRedemptionEachYearInPercent}"
															min="0" max="100"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSpecialRedemptionEachYearAbsolut">jährliche Sondertilgungsbetrag (€)</label >
													</div>	
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSpecialRedemptionEachYearAbsolut" name="inputSpecialRedemptionEachYearAbsolut" 
															th:field="*{selectedCredit.specialRedemptionEachYearAbsolut}"
															min="1" max="10000000" 
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label id="inputSpecialRedemptionTotal">Summe Sondertilgung (€)</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSpecialRedemptionTotal" name="inputSpecialRedemptionTotal" 
															th:field="*{selectedCredit.specialRedemptionTotal}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label id="inputMonthlyRate">Monatliche Rate (Belastung)</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputMonthlyRate" name="inputMonthlyRate" 
															th:field="*{selectedCredit.annuityEachMonth}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label id="inputTerm">Laufzeit in Jahren bis Volltilgung</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputTerm" name="inputTerm" 
															th:field="*{selectedCredit.term}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->							
							</div> <!-- END PANEL GROUP -->		
							
												
							<div class="row equal-height-panels">
								<!-- TERMS IN YEARS -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h1 class="panel-title pull-left">Laufzeit in Jahren bis Volltilgung</h1>
											<div class="clearfix"></div>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
											
												<div class="row filterRow ">
													<div class="col-md-4">
														<label for="inputRestLoanAfter5Years">Restschuld nach 5 Jahren</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter5Years" name="inputRestLoanAfter5Years" 
															th:field="*{selectedCredit.restLoanIn5Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRestLoanAfter10Years">Restschuld nach 10 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter10Years" name="inputRestLoanAfter10Years" 
															th:field="*{selectedCredit.restLoanIn10Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRestLoanAfter15Years">Restschuld nach 15 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter15Years" name="inputRestLoanAfter15Years" 
															th:field="*{selectedCredit.restLoanIn15Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRestLoanAfter20Years">Restschuld nach 20 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter20Years" name="inputRestLoanAfter20Years" 
															th:field="*{selectedCredit.restLoanIn20Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRestLoanAfter25Years">Restschuld nach 25 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter25Years" name="inputRestLoanAfter25Years" 
															th:field="*{selectedCredit.restLoanIn25Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputRestLoanAfter30Years">Restschuld nach 30 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputRestLoanAfter30Years" name="inputRestLoanAfter30Years" 
															th:field="*{selectedCredit.restLoanIn30Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->							
							</div> <!-- END PANEL GROUP -->
																			
							<div class="row equal-height-panels">
								<!-- TERMS IN YEARS -->
								<div class="col-md-4">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h1 class="panel-title pull-left">Ergebnisse Zinsbelastung</h1>
											<div class="clearfix"></div>
										</div>
										<div class="panel-body">
											<div class="container-fluid">
											
												<div class="row filterRow ">
													<div class="col-md-4">
														<label for="inputSumInterestAfter5Years">nach 5 Jahren</label >
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter5Years" name="inputSumInterestAfter5Years" 
															th:field="*{selectedCredit.sumInterestIn5Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestAfter10Years">nach 10 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter10Years" name="inputSumInterestAfter10Years" 
															th:field="*{selectedCredit.sumInterestIn10Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestAfter15Years">nach 15 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter15Years" name="inputSumInterestAfter15Years" 
															th:field="*{selectedCredit.sumInterestIn15Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestAfter20Years">nach 20 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter20Years" name="inputSumInterestAfter20Years" 
															th:field="*{selectedCredit.sumInterestIn20Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestAfter25Years">nach 25 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter25Years" name="inputSumInterestAfter25Years" 
															th:field="*{selectedCredit.sumInterestIn25Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestAfter30Years">nach 30 Jahren</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestAfter30Years" name="inputSumInterestAfter30Years" 
															th:field="*{selectedCredit.sumInterestIn30Years}"
															readonly="readonly"
															class="form-control" 
														/>
													</div>				
												</div>
												<div class="row filterRow">
													<div class="col-md-4">
														<label for="inputSumInterestTotal">Gesamtlast bis Volltilgung</label>
													</div>
													<div class="col-md-6 col-md-offset-2">	
														<input type="number" id="inputSumInterestTotal" name="inputSumInterestTotal" 
															th:field="*{selectedCredit.sumInterestTotal}"
															readonly="readonly"
															class="form-control summarizeInput" 
														/>
													</div>				
												</div>
											</div>
										</div>
									</div> <!-- END PANEL -->
								</div> <!-- END PANEL CONTAINER -->							
							</div> <!-- END PANEL GROUP -->
							
						</div>			
					</div>
				</form>
			</main>
		</div>
	
	</body>
</html>