<!DOCTYPE html>
<html>
	<head>
		<title th:text="#{gui.title.hemisoft} + ' - ' + #{gui.title.property.management} + ' - ' + #{gui.tilte.property.financial}">HEMISOFT - IMMOBILIENMANAGEMENT - FINANZIERUNG</title>
		<!--/*/ <th:block th:include="fragments/header :: common-header"></th:block> /*/-->
		
		<script type="text/javascript">
		    
			$(function() {
		        $('.equal-height-panels .panel').matchHeight();
		    });
	    
	    </script>
		
	</head>

	<body>
		<div class="container">
			
			<!--/*/ <th:block th:replace="fragments/navbar :: common-navbar"></th:block> /*/-->
		
			<a id="linkEditPage" th:href="@{/investment/edit}"></a> 
		
			<main id="mainPage">
			
				<form id="investmentDataEditForm" name="investmentDataEditForm" th:action="@{/investment/save}" th:object="${property}" method="post" novalidate="novalidate">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h1 class="panel-title pull-left" th:text="#{gui.title.property.management} + ' - ' + #{gui.tilte.property.financial}">IMMOBILIEN MANGEMENT - FINANZIERUNG</h1>
							<!--/*/ <th:block th:replace="fragments/primary-panel/property-selector :: primary-panel-header-edit"></th:block> /*/-->
	        				<div class="clearfix"></div>
						</div>
						
						<div th:if="${null == property.id}" class="panel-body">
							<h1 class="panel-title pull-left" th:text="#{gui.list.entry.no.selected}">NO_PROPERTY_SELECTED</h1>
						</div>
						
						<div th:if="${null != property.id}" class="panel-body">
						
							<div th:if="${#fields.hasErrors('*')}" class="col-md-12">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<h1 class="panel-title pull-left" th:text="#{gui.data.missing}">DATEN NICHT VOLLSTÄNDIG</h1>
										<div class="clearfix"></div>
									</div>
									<div class="panel-body">
										<ul>
										 	<li th:each="err : ${#fields.errors('*')}" th:text="${err}">INPUT IS INCORRECT</li>
										</ul>
									</div>
								</div>
							</div>
							
							
							<!-- FINANCING NEEDS -->
							<div class="col-md-4 col-md-offset-0">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.needs}">BERECHNUNG DES FINANZIERUNGSBEDARFS</h1>
										<div class="clearfix"></div>
									</div>
									<div class="panel-body">
										<div class="container-fluid">
											
											<input type="hidden" th:field="*{id}" />
				
											<div class="row filterRow ">
												<div class="col-md-4">
													<label for="inputPurchasePrice" th:text="#{property.purchasePrice}">KAUFPREIS</label >
												</div>
												<div class="col-md-6 col-md-offset-2">	
													<input type="number" id="inputPurchasePrice" name="inputPurchasePrice" 
														th:field="*{purchasePrice}"
														min="1" max="10000000" 
														readonly="readonly"
														class="form-control text-right" 
													/>
												</div>				
											</div>
											<div class="row filterRow">
												<div class="col-md-4">
													<label for="inputTotalAttendantCost" th:text="#{property.totalAttendantCost}">EINMALIGE KOSTEN BEIM KAUF</label>
												</div>
												<div class="col-md-6 col-md-offset-2">	
													<input type="number" id="inputTotalAttendantCost" name="inputTotalAttendantCost" 
														th:field="*{totalAttendantCost}"
														readonly="readonly"
														class="form-control text-right" 
													/>
												</div>				
											</div>
											<div class="row filterRow">
												<div class="col-md-4">
													<label for="inputTotalCost" th:text="#{property.totalCost}">GESAMTSUMME DER KOSTEN</label>
												</div>
												<div class="col-md-6 col-md-offset-2">	
													<input type="number" id="inputTotalCost" name="inputTotalCost" 
														th:field="*{totalPurchaseCost}"
														readonly="readonly"
														class="form-control text-right summarizeInput" 
													/>
												</div>				
											</div>
											<div class="row filterRow">
												<div class="col-md-4">
													<label for="inputNetAssets" th:text="#{property.netAssets}">EIGENKAPITAL</label >
												</div>	
												<div class="col-md-6 col-md-offset-2">	
													<input type="number" id="inputNetAssets" name="inputNetAssets" 
														th:field="*{netAssets}"
														min="1" max="10000000" 
														required="required"
														class="form-control text-right" 
													/>
												</div>				
											</div>
											<div class="row filterRow">
												<div class="col-md-4">
													<label id="inputFinancingNeedsTotal" th:text="#{property.financingNeedsTotal}">KREDITBEDARF</label>
												</div>
												<div class="col-md-6 col-md-offset-2">	
													<input type="number" id="inputFinancingNeedsTotal" name="inputFinancingNeedsTotal" 
														th:field="*{financialNeedsTotal}"
														readonly="readonly"
														class="form-control text-right summarizeInput" 
													/>
												</div>
											</div>
										</div>
									</div>
								</div> <!-- END PANEL -->
							</div> <!-- END PANEL CONTAINER -->
							
							<div class="clearfix"></div>

							<div th:if="${null != property.selectedCredit}" class="panel panel-primary">
								<div class="panel-heading">
									<button id="buttonDeactivate" type="button" class="btn btn-primary pull-right" name="deactivate" th:text="#{gui.button.deactivate}">DEACTIVATE</button>

									<h1 class="panel-title pull-left">
										<!-- CURRENTLY USED TO COMPARE EQUALITY, THAT WHY NOT EDITABLE AFTER FIRST SAVE! -->
										<input th:if="${null == property.selectedCredit.nameOfInstitution}" type="text" id="inputSelectedCreditNameOfInstitution" name="inputSelectedCreditNameOfInstitution" 
											th:field="*{selectedCredit.nameOfInstitution}"
											required="required"
											class="form-control" 
										/>
										<span th:if="${null != property.selectedCredit.nameOfInstitution}" th:text="*{selectedCredit.nameOfInstitution}">CREDIT_INSTITUTE_NAME</span>
										<input th:if="${null != property.selectedCredit.nameOfInstitution}" type="hidden" id="inputSelectedCreditNameOfInstitution" name="inputSelectedCreditNameOfInstitution" 
											th:field="*{selectedCredit.nameOfInstitution}"
										/>
									</h1>
									<div class="clearfix"></div>
								</div>
								<div class="panel-body">
									<div class="row equal-height-panels">
										<div class="col-md-4"> <!-- FINANCING NEEDS -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.needs}">ECKDATEN DER KREDITFINANZIERUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">
														
														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputInterestRateNominalInPercent" th:text="#{property.interestRateNominalInPercent}">ZINSSATZ NOMINAL (%)</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputInterestRateNominalInPercent" name="inputInterestRateNominalInPercent" 
																	th:field="*{selectedCredit.interestRateNominalInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRedemptionAtBeginInPercent" th:text="#{property.redemptionAtBeginInPercent}">ANFÄNGLICHE TILGUNG (%)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRedemptionAtBeginInPercent" name="inputRedemptionAtBeginInPercent" 
																	th:field="*{selectedCredit.redemptionAtBeginInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSpecialRedemptionEachYearInPercent" th:text="#{property.specialRedemptionEachYearInPercent}">JÄHRLICHE SONDERTILGUNG (% VOM DARLEHENSBETRAG)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionEachYearInPercent" name="inputSpecialRedemptionEachYearInPercent" 
																	th:field="*{selectedCredit.specialRedemptionEachYearInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSpecialRedemptionEachYearAbsolute" th:text="#{property.specialRedemptionEachYearAbsolute}">JÄHRLICHE SONDERTILGUNGSBETRAG (€)</label >
															</div>	
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionEachYearAbsolute" name="inputSpecialRedemptionEachYearAbsolute" 
																	th:field="*{selectedCredit.specialRedemptionEachYearAbsolut}"
																	min="1" max="10000000" 
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputSpecialRedemptionTotal" th:text="#{property.specialRedemptionTotal}">SUMME SONDERTILGUNG (€)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionTotal" name="inputSpecialRedemptionTotal" 
																	th:field="*{selectedCredit.specialRedemptionTotal}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputMonthlyRate" th:text="#{property.monthlyRate}">MONATLICHE RATE (BELASTUNG)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputMonthlyRate" name="inputMonthlyRate" 
																	th:field="*{selectedCredit.annuityEachMonth}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputTerm" th:text="#{property.term}">LAUFZEIT IN JAHREN BIS VOLLTILGUNG</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputTerm" name="inputTerm" 
																	th:field="*{selectedCredit.term}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END FINANCING NEEDS -->							
								
										<div class="col-md-4"> <!-- TERMS IN YEARS -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.term}">LAUFZEIT IN JAHREN BIS VOLLTILGUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">
													
														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputRestLoanAfter5Years" th:text="#{property.restLoanInYears.5}">RESTSCHULD NACH 5 JAHREN</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter5Years" name="inputRestLoanAfter5Years" 
																	th:field="*{selectedCredit.restLoanIn5Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter10Years" th:text="#{property.restLoanInYears.10}">RESTSCHULD NACH 10 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter10Years" name="inputRestLoanAfter10Years" 
																	th:field="*{selectedCredit.restLoanIn10Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter15Years" th:text="#{property.restLoanInYears.15}">RESTSCHULD NACH 15 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter15Years" name="inputRestLoanAfter15Years" 
																	th:field="*{selectedCredit.restLoanIn15Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter20Years" th:text="#{property.restLoanInYears.20}">RESTSCHULD NACH 20 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter20Years" name="inputRestLoanAfter20Years" 
																	th:field="*{selectedCredit.restLoanIn20Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter25Years" th:text="#{property.restLoanInYears.25}">RESTSCHULD NACH 25 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter25Years" name="inputRestLoanAfter25Years" 
																	th:field="*{selectedCredit.restLoanIn25Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter30Years" th:text="#{property.restLoanInYears.30}">RESTSCHULD NACH 30 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter30Years" name="inputRestLoanAfter30Years" 
																	th:field="*{selectedCredit.restLoanIn30Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END TERMS IN YEARS -->							
										
										<div class="col-md-4"> <!-- INTEREST SUMMARIZED -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.interest}">ERGEBNISSE ZINSBELASTUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">
													
														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputSumInterestAfter5Years" th:text="#{property.sumInterestInYears.5}">NACH 5 JAHREN</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter5Years" name="inputSumInterestAfter5Years" 
																	th:field="*{selectedCredit.sumInterestIn5Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter10Years" th:text="#{property.sumInterestInYears.10}">NACH 10 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter10Years" name="inputSumInterestAfter10Years" 
																	th:field="*{selectedCredit.sumInterestIn10Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter15Years" th:text="#{property.sumInterestInYears.15}">NACH 15 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter15Years" name="inputSumInterestAfter15Years" 
																	th:field="*{selectedCredit.sumInterestIn15Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter20Years" th:text="#{property.sumInterestInYears.20}">NACH 20 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter20Years" name="inputSumInterestAfter20Years" 
																	th:field="*{selectedCredit.sumInterestIn20Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter25Years" th:text="#{property.sumInterestInYears.25}">NACH 25 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter25Years" name="inputSumInterestAfter25Years" 
																	th:field="*{selectedCredit.sumInterestIn25Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter30Years" th:text="#{property.sumInterestInYears.30}">NACH 30 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter30Years" name="inputSumInterestAfter30Years" 
																	th:field="*{selectedCredit.sumInterestIn30Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestTotal" th:text="#{property.sumInterestTotal}">GESAMTLAST BIS VOLLTILGUNG</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestTotal" name="inputSumInterestTotal" 
																	th:field="*{selectedCredit.sumInterestTotal}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>				
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END INTEREST SUMMARIZED -->							
									</div> <!-- END PANEL BODY -->
								</div>
							</div>	<!-- SELECTED CREDIT -->	
							
							<div class="panel panel-default" th:each="creditOption,loop : *{creditOptions}"> <!-- CREDIT OPTIONS ... -->
								<div class="panel-heading">
	
									<input type="hidden" id="inputCreditId" name="inputCreditId" class=".hiddenCreditId" th:field="*{creditOptions[__${loop.index}__].id}" />
									<button id="buttonActivate" type="button" class="btn btn-primary pull-right btnActivate" name="activate" th:text="#{gui.button.activate}">ACTIVATE</button>
	
									<h1 class="panel-title pull-left">
										<!-- CURRENTLY USED TO COMPARE EQUALITY, THAT WHY NOT EDITABLE AFTER FIRST SAVE! -->
										<input th:if="${null == creditOption.nameOfInstitution}" type="text" id="inputSelectedCreditNameOfInstitution" name="inputSelectedCreditNameOfInstitution" 
											th:field="*{creditOptions[__${loop.index}__].nameOfInstitution}"
											required="required"
											class="form-control" 
										/>
										<span th:if="${null != creditOption.nameOfInstitution}" th:text="*{creditOptions[__${loop.index}__].nameOfInstitution}">CREDIT_INSTITUTE_NAME</span>
									</h1>
									<div class="clearfix"></div>
								</div>
								<div class="panel-body">
									<div class="row equal-height-panels">
										<div class="col-md-4"> <!-- FINANCING NEEDS -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.basic}">ECKDATEN DER KREDITFINANZIERUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">

														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputInterestRateNominalInPercent" th:text="#{property.interestRateNominalInPercent}">ZINSSATZ NOMINAL (%)</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputInterestRateNominalInPercent" name="inputInterestRateNominalInPercent" 
																	th:field="*{creditOptions[__${loop.index}__].interestRateNominalInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRedemptionAtBeginInPercent" th:text="#{property.redemptionAtBeginInPercent}">ANFÄNGLICHE TILGUNG (%)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRedemptionAtBeginInPercent" name="inputRedemptionAtBeginInPercent" 
																	th:field="*{creditOptions[__${loop.index}__].redemptionAtBeginInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSpecialRedemptionEachYearInPercent" th:text="#{property.specialRedemptionEachYearInPercent}">JÄHRLICHE SONDERTILGUNG (% VOM DARLEHENSBETRAG)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionEachYearInPercent" name="inputSpecialRedemptionEachYearInPercent" 
																	th:field="*{creditOptions[__${loop.index}__].specialRedemptionEachYearInPercent}"
																	min="0" max="100"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSpecialRedemptionEachYearAbsolut" th:text="#{property.specialRedemptionEachYearAbsolute}">JÄHRLICHE SONDERTILGUNGSBETRAG (€)</label >
															</div>	
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionEachYearAbsolut" name="inputSpecialRedemptionEachYearAbsolut" 
																	th:field="*{creditOptions[__${loop.index}__].specialRedemptionEachYearAbsolut}"
																	min="1" max="10000000" 
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputSpecialRedemptionTotal" th:text="#{property.specialRedemptionTotal}">SUMME SONDERTILGUNG (€)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSpecialRedemptionTotal" name="inputSpecialRedemptionTotal" 
																	th:field="*{creditOptions[__${loop.index}__].specialRedemptionTotal}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputMonthlyRate" th:text="#{property.monthlyRate}">MONATLICHE RATE (BELASTUNG)</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputMonthlyRate" name="inputMonthlyRate" 
																	th:field="*{creditOptions[__${loop.index}__].annuityEachMonth}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label id="inputTerm" th:text="#{property.term}">LAUFZEIT IN JAHREN BIS VOLLTILGUNG</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputTerm" name="inputTerm" 
																	th:field="*{creditOptions[__${loop.index}__].term}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END FINANCING NEEDS -->							
								
										<div class="col-md-4"> <!-- TERMS IN YEARS -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.term}">LAUFZEIT IN JAHREN BIS VOLLTILGUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">
													
														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputRestLoanAfter5Years" th:text="#{property.restLoanInYears.5}">RESTSCHULD NACH 5 JAHREN</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter5Years" name="inputRestLoanAfter5Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn5Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter10Years" th:text="#{property.restLoanInYears.10}">RESTSCHULD NACH 10 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter10Years" name="inputRestLoanAfter10Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn10Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter15Years" th:text="#{property.restLoanInYears.15}">RESTSCHULD NACH 15 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter15Years" name="inputRestLoanAfter15Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn15Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter20Years" th:text="#{property.restLoanInYears.20}">RESTSCHULD NACH 20 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter20Years" name="inputRestLoanAfter20Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn20Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter25Years" th:text="#{property.restLoanInYears.25}">RESTSCHULD NACH 25 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter25Years" name="inputRestLoanAfter25Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn25Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputRestLoanAfter30Years" th:text="#{property.restLoanInYears.30}">RESTSCHULD NACH 30 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputRestLoanAfter30Years" name="inputRestLoanAfter30Years" 
																	th:field="*{creditOptions[__${loop.index}__].restLoanIn30Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END TERMS IN YEARS -->							
										
										<div class="col-md-4"> <!-- INTEREST SUMMARIZED -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h1 class="panel-title pull-left" th:text="#{gui.property.panel.financial.interest}">ERGEBNISSE ZINSBELASTUNG</h1>
													<div class="clearfix"></div>
												</div>
												<div class="panel-body">
													<div class="container-fluid">
													
														<div class="row filterRow ">
															<div class="col-md-4">
																<label for="inputSumInterestAfter5Years" th:text="#{property.sumInterestInYears.5}">NACH 5 JAHREN</label >
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter5Years" name="inputSumInterestAfter5Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn5Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter10Years" th:text="#{property.sumInterestInYears.5}">NACH 10 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter10Years" name="inputSumInterestAfter10Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn10Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter15Years" th:text="#{property.sumInterestInYears.5}">NACH 15 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter15Years" name="inputSumInterestAfter15Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn15Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter20Years" th:text="#{property.sumInterestInYears.5}">NACH 20 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter20Years" name="inputSumInterestAfter20Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn20Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter25Years" th:text="#{property.sumInterestInYears.5}">NACH 25 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter25Years" name="inputSumInterestAfter25Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn25Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestAfter30Years" th:text="#{property.sumInterestInYears.5}">NACH 30 JAHREN</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestAfter30Years" name="inputSumInterestAfter30Years" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestIn30Years}"
																	readonly="readonly"
																	class="form-control text-right" 
																/>
															</div>				
														</div>
														<div class="row filterRow">
															<div class="col-md-4">
																<label for="inputSumInterestTotal" th:text="#{property.sumInterestTotal}">Gesamtlast bis Volltilgung</label>
															</div>
															<div class="col-md-6 col-md-offset-2">	
																<input type="number" id="inputSumInterestTotal" name="inputSumInterestTotal" 
																	th:field="*{creditOptions[__${loop.index}__].sumInterestTotal}"
																	readonly="readonly"
																	class="form-control text-right summarizeInput" 
																/>
															</div>				
														</div>
													</div>
												</div>
											</div> <!-- END PANEL -->
										</div> <!-- END INTEREST SUMMARIZED -->							
									</div> <!-- END PANEL BODY -->
								</div>
							</div>	<!-- CREDIT OPTIONS -->			
						</div>
					</div>
				</form>
			</main>
		</div>
	</body>
</html>